.md5-comparision.root {
  display: flex;
  flex-direction: column;
  gap: 31px 0;
  background: url(/public/assets/encryption/6b5b62f494a844d8f2d173a89e44b6cd.png) center center/100% 100% no-repeat;
  background-color: #010619;
  overflow: hidden;
}
.md5-comparision .header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #010515;
  border-color: white;
  border-style: solid;
  border-width: 0 0 3px;
  overflow: hidden;
}
.md5-comparision .flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 13px 0;
}
@media (max-width: 479px) {
  .md5-comparision .flex_row {
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}
.md5-comparision .wrapper8 {
  display: flex;
  align-items: center;
  width: 453px;
  min-width: 0;
  padding: 0 0 0 20px;
}
@media (max-width: 479px) {
  .md5-comparision .wrapper8 {
    flex: 0 1 auto;
    order: 1;
  }
}
.md5-comparision .image3 {
  width: 100px;
  min-width: 0;
  height: 88px;
}
@media (max-width: 991px) {
  .md5-comparision .image3 {
    width: 80px;
    height: 70px;
  }
}
@media (max-width: 767px) {
  .md5-comparision .image3 {
    width: 70px;
    height: 60px;
  }
}
@media (max-width: 575px) {
  .md5-comparision .image3 {
    width: 60px;
    height: 50px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .image3 {
    width: 55px;
    height: 45px;
  }
}
@media (max-width: 383px) {
  .md5-comparision .image3 {
    width: 30px;
    height: 25px;
  }
}
.md5-comparision .hero_title3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  font: 400 46px/1.28 Audiowide, Helvetica, Arial, serif;
  color: #33ff00;
  text-align: center;
}
@media (max-width: 991px) {
  .md5-comparision .hero_title3 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .md5-comparision .hero_title3 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .md5-comparision .hero_title3 {
    font-size: 25px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .hero_title3 {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .md5-comparision .hero_title3 {
    font-size: 16px;
  }
}
.md5-comparision .wrapper9 {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 0;
  padding: 0 20px 0 0;
}
@media (max-width: 479px) {
  .md5-comparision .wrapper9 {
    flex: 0 1 auto;
    order: 3;
  }
}
.md5-comparision .wrapper91 {
  width: 40px;
  min-width: 0;
  height: 40px;
}
@media (max-width: 991px) {
  .md5-comparision .wrapper91 {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  .md5-comparision .wrapper91 {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 575px) {
  .md5-comparision .wrapper91 {
    width: 20px;
    height: 20px;
  }
}
.md5-comparision .hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px 0;
  margin: 0 0 37px;
  overflow: hidden;
}
.md5-comparision .main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 26.08% 0 26.15%;
  width: 100%;
  font: 700 80px/1.55 BioRhyme, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: -0.1px;
}
@media (max-width: 1199px) {
  .md5-comparision .main-title {
    font-size: 70px;
  }
}
@media (max-width: 991px) {
  .md5-comparision .main-title {
    font-size: 65px;
  }
}
@media (max-width: 767px) {
  .md5-comparision .main-title {
    font-size: 60px;
  }
}
@media (max-width: 575px) {
  .md5-comparision .main-title {
    font-size: 50px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .main-title {
    font-size: 40px;
  }
}
@media (max-width: 383px) {
  .md5-comparision .main-title {
    font-size: 30px;
  }
}
.md5-comparision .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px 0;
  width: 100%;
  padding: 20px 0 0;
}
.md5-comparision .navbar {
  display: flex;
  gap: 0 1px;
  width: 95.83%;
  background-color: rgba(51, 255, 0, 0.298);
  border-radius: 20px;
}
.md5-comparision .wrapper2 {
  display: flex;
  place-content: center center;
  align-items: center;
  width: 24.93%;
  min-width: 0;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(51, 255, 0, 0.298);
  border-radius: 20px;
  outline: 3px solid white;
  outline-offset: -3px;
}
.md5-comparision .hero_title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  font: 700 60px/1.55 BioRhyme, Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
@media (max-width: 1199px) {
  .md5-comparision .hero_title2 {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  .md5-comparision .hero_title2 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .md5-comparision .hero_title2 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .md5-comparision .hero_title2 {
    font-size: 25px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .hero_title2 {
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .md5-comparision .hero_title2 {
    font-size: 12px;
  }
}
.md5-comparision .wrapper1 {
  display: flex;
  place-content: center center;
  align-items: center;
  width: 24.93%;
  min-width: 0;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(51, 255, 0, 0.298);
  border-radius: 20px;
  outline: 3px solid white;
  outline-offset: -3px;
}
.md5-comparision .hero_title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  font: 700 60px/1.55 BioRhyme, Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
@media (max-width: 1199px) {
  .md5-comparision .hero_title1 {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  .md5-comparision .hero_title1 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .md5-comparision .hero_title1 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .md5-comparision .hero_title1 {
    font-size: 25px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .hero_title1 {
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .md5-comparision .hero_title1 {
    font-size: 12px;
  }
}
.md5-comparision .wrapper22 {
  display: flex;
  place-content: center center;
  align-items: center;
  width: 24.93%;
  min-width: 0;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #33ff00;
  border-radius: 20px;
  outline: 3px solid white;
  outline-offset: -3px;
}
.md5-comparision .hero_title36 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  font: 700 60px/1.55 BioRhyme, Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
@media (max-width: 1199px) {
  .md5-comparision .hero_title36 {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  .md5-comparision .hero_title36 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .md5-comparision .hero_title36 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .md5-comparision .hero_title36 {
    font-size: 25px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .hero_title36 {
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .md5-comparision .hero_title36 {
    font-size: 12px;
  }
}
.md5-comparision .wrapper11 {
  display: flex;
  place-content: center center;
  align-items: center;
  margin: 0 1px 0 0;
  width: 24.93%;
  min-width: 0;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(51, 255, 0, 0.298);
  border-radius: 20px;
  outline: 3px solid white;
  outline-offset: -3px;
}
.md5-comparision .hero_title44 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  font: 700 60px/1.55 BioRhyme, Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
@media (max-width: 1199px) {
  .md5-comparision .hero_title44 {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  .md5-comparision .hero_title44 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .md5-comparision .hero_title44 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .md5-comparision .hero_title44 {
    font-size: 25px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .hero_title44 {
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .md5-comparision .hero_title44 {
    font-size: 12px;
  }
}
.md5-comparision .input-area {
  display: flex;
  flex-direction: column;
  place-content: center center;
  align-items: center;
  width: 50%;
  height: 180px;
  padding: 0 20px;
}
.md5-comparision .wrapper6 {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  outline: 1px solid #d0d5dd;
  outline-offset: -1px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.047);
  overflow: hidden;
}
.md5-comparision .subtitle_box {
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .md5-comparision .subtitle_box {
    align-items: flex-start;
  }
}
.md5-comparision .subtitle {
  width: 100%;
  font: 400 20px/1.2 Inter, Helvetica, Arial, serif;
  color: #667085;
  background-color: transparent;
  border: 0;
  padding: 0;
  vertical-align: top;
}
@media (max-width: 991px) {
  .md5-comparision .subtitle {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .md5-comparision .subtitle {
    font-size: 15px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .subtitle {
    font-size: 12px;
  }
}
.md5-comparision .subtitle:focus {
  outline: none;
}
.md5-comparision .input-area2 {
  display: flex;
  flex-direction: column;
  place-content: center center;
  align-items: center;
  width: 40%;
  height: 44px;
  background-color: white;
  border-radius: 8px;
  outline: 1px solid #d0d5dd;
  outline-offset: -1px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.047);
}
.md5-comparision .wrapper8 {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.md5-comparision .wrapper81_box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.md5-comparision .wrapper81 {
  width: 100%;
  font: 400 20px/1.5 Inter, Helvetica, Arial, serif;
  color: #667085;
  background-color: transparent;
  border: 0;
  padding: 0;
  vertical-align: top;
}
@media (max-width: 767px) {
  .md5-comparision .wrapper81 {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .wrapper81 {
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .md5-comparision .wrapper81 {
    font-size: 12px;
  }
}
.md5-comparision .wrapper81:focus {
  outline: none;
}
.md5-comparision .compare-button {
  display: flex;
  place-content: center center;
  align-items: center;
  width: 35%;
  height: 93px;
  background-color: #33ff00;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .md5-comparision .compare-button {
    height: 80px;
  }
}
@media (max-width: 575px) {
  .md5-comparision .compare-button {
    height: 70px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .compare-button {
    height: 60px;
  }
}
.md5-comparision .hero_title5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 700 50px/1.24 "Averia Sans Libre", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
@media (max-width: 991px) {
  .md5-comparision .hero_title5 {
    font-size: 40px;
  }
}
@media (max-width: 575px) {
  .md5-comparision .hero_title5 {
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .hero_title5 {
    font-size: 20px;
  }
}
.md5-comparision .output-box {
  min-width: 60%;
  width: fit-content;
  height: 190px;
  background: linear-gradient(180deg, rgba(26, 46, 68, 0.7) 22%, rgba(0, 22.1, 88.39, 0.7) 100%);
  border-radius: 40px;
  text-align: center;
  padding: 10px;
}
@media (max-width: 1399px) {
  .md5-comparision .output-box {
    height: 180px;
  }
}
@media (max-width: 1199px) {
  .md5-comparision .output-box {
    height: 160px;
  }
}
@media (max-width: 991px) {
  .md5-comparision .output-box {
    height: 125px;
  }
}
@media (max-width: 767px) {
  .md5-comparision .output-box {
    height: 120px;
  }
}
@media (max-width: 479px) {
  .md5-comparision .output-box {
    height: 100px;
  }
}

.md5-comparision .result-text{
  position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 400 50px/1 Inter, Helvetica, Arial, serif;
    color: white;
    text-align: center;
    width: 100%;
}