.password-strength-checker-page.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px 0;
  background-image: url(/public/assets/password-strength-checker/6b5b62f494a844d8f2d173a89e44b6cd.png);
  background: var(--src) center center/cover no-repeat;
  background-color: #010619;
  overflow: hidden;
}
.password-strength-checker-page .header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--src) center center/100% 100% no-repeat;
  border-color: white;
  border-style: solid;
  border-width: 0 0 3px;
  overflow: hidden;
}
.password-strength-checker-page .flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 13px 0;
}
.password-strength-checker-page .wrapper7 {
  display: flex;
  align-items: center;
  width: 453px;
  min-width: 0;
  padding: 0 0 0 20px;
}
.password-strength-checker-page .image3 {
  width: 100px;
  min-width: 0;
  height: 88px;
}
.password-strength-checker-page .hero_title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  font: 400 46px/1.28 Audiowide, Helvetica, Arial, serif;
  color: #33ff00;
  text-align: center;
}
.password-strength-checker-page .wrapper8 {
  display: flex;
  width: 60px;
  min-width: 0;
  padding: 0 20px 0 0;
}
.password-strength-checker-page .wrapper81 {
  width: 40px;
  min-width: 0;
  height: 40px;
}
.password-strength-checker-page .hero-section {
  display: flex;
  flex-direction: column;
  place-content: center center;
  align-items: center;
  gap: 60px 0;
  margin: 0 0 169px;
  width: 82.22%;
}
.password-strength-checker-page .hero_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font: 700 80px/1.55 BioRhyme, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: -0.1px;
}
@media (max-width: 991px) {
  .password-strength-checker-page .hero_title {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .password-strength-checker-page .hero_title {
    font-size: 50px;
  }
}
@media (max-width: 575px) {
  .password-strength-checker-page .hero_title {
    font-size: 40px;
  }
}
@media (max-width: 479px) {
  .password-strength-checker-page .hero_title {
    font-size: 30px;
  }
}
@media (max-width: 383px) {
  .password-strength-checker-page .hero_title {
    font-size: 25px;
  }
}
.password-strength-checker-page .flex_col {
  display: flex;
  flex-direction: column;
  place-content: center center;
  align-items: center;
  width: 70.61%;
}
.password-strength-checker-page .input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 178px;
  width: 480px;
  height: 44px;
}
@media (max-width: 575px) {
  .password-strength-checker-page .input-group {
    width: 400px;
  }
}
.password-strength-checker-page .group1 {
  display: flex;
  place-content: center center;
  align-items: center;
  gap: 0 215px;
  width: 480px;
  height: 44px;
  background-color: white;
  border-radius: 8px;
  padding: 10px 14px;
  outline: 1px solid #d0d5dd;
  outline-offset: -1px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.047);
  overflow: hidden;
}
@media (max-width: 575px) {
  .password-strength-checker-page .group1 {
    -moz-column-gap: 200px;
    column-gap: 200px;
    width: 400px;
  }
}
@media (max-width: 479px) {
  .password-strength-checker-page .group1 {
    -moz-column-gap: 144px;
    column-gap: 144px;
    margin: 0 0 0 25px;
    width: 350px;
  }
}
.password-strength-checker-page .input-heading_box {
  margin: 0% 0 0 0%;
}
@media (max-width: 575px) {
  .password-strength-checker-page .input-heading_box {
    align-items: flex-start;
    flex: 0 1 auto;
  }
}
.password-strength-checker-page .input-heading {
  width: 100%;
  font: 16px/1.5 Inter, Helvetica, Arial, serif;
  color: #667085;
  background-color: transparent;
  border: 0;
  padding: 0;
  vertical-align: top;
}
@media (max-width: 575px) {
  .password-strength-checker-page .input-heading {
    font-size: 12px;
  }
}
.password-strength-checker-page .input-heading:focus {
  outline: none;
}
.password-strength-checker-page .image1 {
  margin: 0% 0 0;
  width: 20px;
  height: 20px;
}
.password-strength-checker-page .placeholder {
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 44px;
  background-color: rgba(217, 217, 217, 0);
}
@media (max-width: 479px) {
  .password-strength-checker-page .placeholder {
    right: 25px;
  }
}
.password-strength-checker-page .submit-button {
  display: flex;
  flex-direction: column;
  margin: 21px 0 0;
  width: 29.9%;
  background-color: #33ff00;
  border-radius: 20px;
}
.password-strength-checker-page .big_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px auto 8px;
  font: 700 35px/1.22 "Averia Sans Libre", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
@media (max-width: 991px) {
  .password-strength-checker-page .big_title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .password-strength-checker-page .big_title {
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  .password-strength-checker-page .big_title {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .password-strength-checker-page .big_title {
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .password-strength-checker-page .big_title {
    font-size: 12px;
  }
}
.output-box {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 20px 0 0;
  border-radius: 20px;
}
.result-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 400 60px/1 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  width: 100%;
}