.landing-page {
  background-color: #010619;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #010619;
  overflow: hidden;
  width: 100%;
  height: 5573px;
  position: relative;
}

.landing-page .overlap {
  position: absolute;
  width: 1446px;
  height: 5484px;
  top: 87px;
  left: -3px;
}

.landing-page .rectangle {
  position: absolute;
  width: 1439px;
  height: 2050px;
  top: 3172px;
  left: 3px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #ffffff;
}

.landing-page .rectangle-2 {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: 2203px;
  left: 3px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #ffffff;
}

.landing-page .img {
  position: absolute;
  width: 1440px;
  height: 1775px;
  top: 547px;
  left: 3px;
}

.landing-page .rectangle-3 {
  position: absolute;
  width: 1440px;
  height: 670px;
  top: 0;
  left: 3px;
  object-fit: cover;
}

.landing-page .ellipse {
  width: 890px;
  top: 2189px;
  left: 3px;
  position: absolute;
  height: 2065px;
}

.landing-page .ellipse-2 {
  width: 825px;
  top: 3367px;
  left: 618px;
  position: absolute;
  height: 2065px;
}

.landing-page .hero-contents {
  display: flex;
  flex-wrap: wrap;
  width: 988px;
  align-items: flex-end;
  justify-content: center;
  gap: 116px 260px;
  padding: 0px 0px 0px 45px;
  position: absolute;
  top: 70px;
  left: 3px;
}

.landing-page .shadowhash-all-in {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -22.5px;
  margin-right: -22.5px;
  font-family: "BioRhyme", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 100px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper {
  font-family: "BioRhyme", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 100px;
  letter-spacing: 0;
}

.landing-page .span {
  font-size: 70px;
}

.landing-page .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 207px;
  height: 92px;
  background-image: url(./img/rectangle-1.svg);
  background-size: 100% 100%;
}

.landing-page .text-wrapper-2 {
  position: absolute;
  height: 31px;
  top: 29px;
  left: 70px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .overlap-group-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 207px;
  height: 92px;
}

.landing-page .overlap-group {
  position: relative;
  width: 250px;
  height: 92px;
  left: -21px;
}

.landing-page .rectangle-4 {
  position: absolute;
  width: 250px;
  height: 92px;
  top: 0;
  left: 0;
}

.landing-page .text-wrapper-3 {
  position: absolute;
  height: 31px;
  top: 28px;
  left: 52px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-4 {
  position: absolute;
  height: 124px;
  top: 715px;
  left: 183px;
  font-family: "BioRhyme", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .benefit-tiles {
  position: absolute;
  width: 1370px;
  height: 1333px;
  top: 877px;
  left: 38px;
}

.landing-page .benefit {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 593px;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 52px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.landing-page .breach-monitoring {
  position: relative;
  width: 215px;
  height: 178px;
  margin-top: -34.5px;
}

.landing-page .text-wrapper-5 {
  width: 353px;
  height: 66px;
  font-size: 30px;
  position: relative;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .stay-ahead-of {
  position: relative;
  align-self: stretch;
  margin-bottom: -33.5px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .benefit-2 {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 611px;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 52px 0px;
  position: absolute;
  top: 13px;
  left: 500px;
}

.landing-page .breach-monitoring-2 {
  position: relative;
  width: 215px;
  height: 178px;
  margin-top: -53.5px;
}

.landing-page .p {
  position: relative;
  align-self: stretch;
  margin-bottom: -52.5px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .benefit-3 {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 643px;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 52px 0px;
  position: absolute;
  top: 12px;
  left: 1000px;
}

.landing-page .breach-monitoring-3 {
  position: relative;
  width: 215px;
  height: 178px;
  margin-top: -51.5px;
  object-fit: cover;
}

.landing-page .protect-your {
  position: relative;
  align-self: stretch;
  margin-bottom: -50.5px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .benefit-4 {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 560px;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 52px 0px;
  position: absolute;
  top: 773px;
  left: 0;
}

.landing-page .breach-monitoring-4 {
  position: relative;
  width: 215px;
  height: 178px;
  margin-top: -51px;
}

.landing-page .our-hash-creator {
  position: relative;
  align-self: stretch;
  margin-bottom: -50px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .benefit-5 {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 499px;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 52px 0px;
  position: absolute;
  top: 774px;
  left: 500px;
}

.landing-page .breach-monitoring-5 {
  position: relative;
  width: 215px;
  height: 178px;
  margin-top: -53.5px;
  object-fit: cover;
}

.landing-page .benefit-6 {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 501px;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 52px 0px;
  position: absolute;
  top: 774px;
  left: 1000px;
}

.landing-page .breach-monitoring-6 {
  position: relative;
  width: 215px;
  height: 178px;
  margin-top: -52.5px;
}

.landing-page .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-bottom: -51.5px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .service-tiles {
  display: flex;
  flex-wrap: wrap;
  width: 1408px;
  align-items: center;
  justify-content: center;
  gap: 20px 20px;
  padding: 0px 34px;
  position: absolute;
  top: 2484px;
  left: 19px;
}

.landing-page .service-tile {
  display: flex;
  width: 320px;
  height: 340px;
  padding: 10px 27px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  background-color: #1a2e44;
  border-radius: 10px;
  overflow: hidden;
}

.landing-page .breach-monitoring-7 {
  position: relative;
  width: 258px;
  height: 234px;
  object-fit: cover;
}

.landing-page .text-wrapper-7 {
  width: 296px;
  height: 36px;
  margin-left: -15px;
  margin-right: -15px;
  font-size: 35px;
  white-space: nowrap;
  position: relative;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .service-tile-2 {
  display: flex;
  width: 320px;
  height: 340px;
  padding: 5px 6px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  background-color: #1a2e44;
  border-radius: 10px;
  overflow: hidden;
}

.landing-page .breach-monitoring-8 {
  position: relative;
  width: 258px;
  height: 234px;
  margin-top: -3.77px;
  object-fit: cover;
}

.landing-page .password-strength {
  position: relative;
  width: 307px;
  height: 83.54px;
  margin-bottom: -2.77px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .service-tile-3 {
  display: inline-flex;
  padding: 22px 0px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  background-color: #1a2e44;
  border-radius: 10px;
  overflow: hidden;
}

.landing-page .breach-monitoring-9 {
  position: relative;
  width: 258px;
  height: 234px;
}

.landing-page .text-wrapper-8 {
  position: relative;
  width: 320px;
  height: 42px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .service-tile-4 {
  display: inline-flex;
  height: 340px;
  padding: 17px 31px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  background-color: #1a2e44;
  border-radius: 10px;
  overflow: hidden;
}

.landing-page .text-wrapper-9 {
  position: relative;
  width: 170px;
  height: 41.77px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .service-tile-5 {
  display: inline-flex;
  height: 340px;
  padding: 11px 31px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  background-color: #1a2e44;
  border-radius: 10px;
  overflow: hidden;
}

.landing-page .text-wrapper-10 {
  position: relative;
  width: 172px;
  height: 41.77px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .service-tile-6 {
  display: inline-flex;
  height: 340px;
  padding: 21px 31px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  background-color: #1a2e44;
  border-radius: 10px;
  overflow: hidden;
}

.landing-page .text-wrapper-11 {
  position: relative;
  width: 207px;
  height: 41.77px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .service-tile-7 {
  display: inline-flex;
  height: 340px;
  padding: 13px 18px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  background-color: #1a2e44;
  border-radius: 10px;
  overflow: hidden;
}

.landing-page .breach-monitoring-10 {
  position: relative;
  width: 258px;
  height: 234px;
  margin-top: -11.77px;
  object-fit: cover;
}

.landing-page .hash-comparison {
  position: relative;
  width: 284px;
  height: 83.54px;
  margin-bottom: -10.77px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .service-tile-8 {
  display: flex;
  width: 320px;
  height: 340px;
  padding: 17px 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  background-color: #1a2e44;
  border-radius: 10px;
  overflow: hidden;
}

.landing-page .breach-monitoring-11 {
  position: relative;
  width: 250px;
  height: 213.71px;
  object-fit: cover;
}

.landing-page .text-wrapper-12 {
  position: relative;
  width: 286px;
  height: 41.77px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-13 {
  position: absolute;
  height: 124px;
  top: 2335px;
  left: 152px;
  font-family: "BioRhyme", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .resources-tiles {
  position: absolute;
  width: 1437px;
  height: 1732px;
  top: 3424px;
  left: 3px;
}

.landing-page .overlap-2 {
  position: absolute;
  width: 467px;
  height: 1729px;
  top: 0;
  left: 980px;
  border-radius: 15px;
}

.landing-page .r {
  display: inline-flex;
  flex-direction: column;
  height: 1729px;
  align-items: flex-start;
  justify-content: center;
  gap: 150px;
  padding: 0px 0px 0px 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a2e44cc;
  border-radius: 15px;
  overflow: hidden;
}

.landing-page .text-wrapper-14 {
  position: relative;
  width: fit-content;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-15 {
  position: relative;
  width: 457px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-16 {
  position: relative;
  width: 457px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .arrows-chevron-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1689px;
  left: 0;
}

.landing-page .final {
  position: absolute;
  width: 459px;
  height: 270px;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.landing-page .overlap-3 {
  position: absolute;
  width: 470px;
  height: 1732px;
  top: 0;
  left: 490px;
  border-radius: 15px;
}

.landing-page .r-2 {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 1732px;
  align-items: flex-start;
  justify-content: center;
  gap: 110px;
  padding: 0px 0px 0px 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a2e44b2;
  border-radius: 15px;
  overflow: hidden;
}

.landing-page .NIST-SP {
  height: 562px;
  position: relative;
  width: 457px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .arrows-chevron-arrow-2 {
  top: 1692px;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
}

.landing-page .r-final {
  position: absolute;
  width: 470px;
  height: 270px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing-page .overlap-4 {
  position: absolute;
  width: 470px;
  height: 1730px;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.landing-page .r-3 {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 1730px;
  align-items: flex-start;
  justify-content: center;
  gap: 184px;
  padding: 0px 0px 0px 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a2e44cc;
  border-radius: 15px;
  overflow: hidden;
}

.landing-page .arrows-chevron-arrow-3 {
  top: 1690px;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
}

.landing-page .final-2 {
  position: absolute;
  width: 470px;
  height: 270px;
  top: 0;
  left: 0;
}

.landing-page .text-wrapper-17 {
  position: absolute;
  height: 124px;
  top: 3258px;
  left: 153px;
  font-family: "BioRhyme", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .footer {
  position: absolute;
  width: 1446px;
  height: 265px;
  top: 5219px;
  left: 0;
  background-color: #001658b2;
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: #ffffff;
}

.landing-page .name-logo {
  position: absolute;
  width: 435px;
  height: 102px;
  top: 25px;
  left: 0;
}

.landing-page .text-wrapper-18 {
  position: absolute;
  height: 59px;
  top: 16px;
  left: 100px;
  font-family: "Audiowide", Helvetica;
  font-weight: 400;
  color: #33ff00;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .LOGO-final-removebg {
  position: absolute;
  width: 100px;
  height: 102px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing-page .element-map-pin {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 135px;
  left: 25px;
  object-fit: cover;
}

.landing-page .text-wrapper-19 {
  position: absolute;
  width: 324px;
  height: 52px;
  top: 139px;
  left: 104px;
  font-family: "Averia Sans Libre", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-20 {
  position: absolute;
  height: 25px;
  top: 168px;
  left: 1140px;
  font-family: var(--normal-font-font-family);
  font-weight: var(--normal-font-font-weight);
  color: #ffffff;
  font-size: var(--normal-font-font-size);
  letter-spacing: var(--normal-font-letter-spacing);
  line-height: var(--normal-font-line-height);
  font-style: var(--normal-font-font-style);
}

.landing-page .text-wrapper-21 {
  position: absolute;
  height: 25px;
  top: 128px;
  left: 1140px;
  font-family: var(--normal-font-font-family);
  font-weight: var(--normal-font-font-weight);
  color: #ffffff;
  font-size: var(--normal-font-font-size);
  letter-spacing: var(--normal-font-letter-spacing);
  line-height: var(--normal-font-line-height);
  font-style: var(--normal-font-font-style);
}

.landing-page .glowing-neon-line {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 122px;
  left: 1046px;
  object-fit: cover;
}

.landing-page .name-logo-2 {
  display: flex;
  width: 221px;
  height: 50px;
  align-items: center;
  gap: 5px;
  padding: 0px 0px 0px 10px;
  position: absolute;
  top: 10px;
  left: 0;
}

.landing-page .LOGO-final-removebg-2 {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.landing-page .text-wrapper-22 {
  position: relative;
  width: fit-content;
  font-family: "Audiowide", Helvetica;
  font-weight: 400;
  color: #33ff00;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .menu-items {
  display: flex;
  width: 359px;
  height: 37px;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: absolute;
  top: 17px;
  left: 540px;
}

.landing-page .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.landing-page .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  font-family: var(--normal-font-font-family);
  font-weight: var(--normal-font-font-weight);
  color: #33ff00;
  font-size: var(--normal-font-font-size);
  text-align: center;
  letter-spacing: var(--normal-font-letter-spacing);
  line-height: var(--normal-font-line-height);
  font-style: var(--normal-font-font-style);
}

.landing-page .text-wrapper-24 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  font-family: var(--normal-font-font-family);
  font-weight: var(--normal-font-font-weight);
  color: #33ff00;
  font-size: var(--normal-font-font-size);
  text-align: center;
  letter-spacing: var(--normal-font-letter-spacing);
  line-height: var(--normal-font-line-height);
  font-style: var(--normal-font-font-style);
}

.landing-page .button-2 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 97px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 0px;
  position: relative;
  align-self: stretch;
}

.landing-page .text-wrapper-25 {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--normal-font-font-family);
  font-weight: var(--normal-font-font-weight);
  color: #33ff00;
  font-size: var(--normal-font-font-size);
  text-align: center;
  letter-spacing: var(--normal-font-letter-spacing);
  line-height: var(--normal-font-line-height);
  font-style: var(--normal-font-font-style);
}

.landing-page .github {
  position: absolute;
  width: 50px;
  height: 40px;
  top: 20px;
  left: 1390px;
}
