.terms-of-use {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: relative;
    background-color: #010619;
    overflow: hidden;
    width: 100%;
}

.terms-of-use .top-header-pages {
    position: relative;
    width: 100%;
    height: 120px;
    margin-top: -3px;
    margin-left: -3px;
    margin-right: -3px;
    background-color: #010515;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #ffffff;
}

.terms-of-use .name-logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 20px;
    position: absolute;
    top: 13px;
    left: 0;
    opacity: 0.6;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.terms-of-use .name-logo:hover {
    opacity: 1;
}

.terms-of-use .LOGO-final-removebg {
    position: relative;
    width: 100px;
    height: 88px;
}

.terms-of-use .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Audiowide", Helvetica, Arial, serif;
    font-weight: 400;
    color: #33ff00;
    font-size: 46px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.terms-of-use .github {
    position: absolute;
    width: 60px;
    height: 40px;
    top: 37px;
    left: 1380px;
    opacity: 0.6;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.terms-of-use .github:hover {
    opacity: 1;
}

.terms-of-use .hero-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    gap: 202px 392px;
    padding: 50px 57px;
    position: relative;
    flex: 0 0 auto;
}

.terms-of-use .div {
    position: relative;
    width: fit-content;
    margin-top: -3px;
    font-family: var(--headings-font-family);
    font-weight: var(--headings-font-weight);
    color: #ffffff;
    font-size: var(--headings-font-size);
    text-align: center;
    letter-spacing: var(--headings-letter-spacing);
    line-height: var(--headings-line-height);
    font-style: var(--headings-font-style);
}

.terms-of-use .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -3px;
    font-family: var(--normal-font-font-family);
    font-weight: var(--normal-font-font-weight);
    color: #ffffff;
    font-size: var(--normal-font-font-size);
    letter-spacing: var(--normal-font-letter-spacing);
    line-height: var(--normal-font-line-height);
    font-style: var(--normal-font-font-style);
}

.terms-of-use .overview-welcome-to {
    position: relative;
    width: 1220px;
    font-family: "undefined-Regular", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.terms-of-use .footer {
    position: relative;
    width: 100%;
    height: 259px;
    background-color: #001658b2;
    border-top-width: 3px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #ffffff;
}

.terms-of-use .name-logo-2 {
    position: absolute;
    width: 435px;
    height: 102px;
    top: 25px;
    left: 0;
    opacity: 0.6;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.terms-of-use .name-logo-2:hover {
    opacity: 1;
}

.terms-of-use .text-wrapper-3 {
    position: absolute;
    height: 59px;
    top: 16px;
    left: 100px;
    font-family: "Audiowide", Helvetica, Arial, serif;
    font-weight: 400;
    color: #33ff00;
    font-size: 46px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.terms-of-use .img {
    position: absolute;
    width: 100px;
    height: 102px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.terms-of-use .element-map-pin {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 135px;
    left: 25px;
    object-fit: cover;
}

.terms-of-use .p {
    position: absolute;
    width: 324px;
    height: 52px;
    top: 136px;
    left: 104px;
    font-family: "Averia Sans Libre-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 21px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.6;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.terms-of-use .p:hover {
    opacity: 1;
}

.terms-of-use .text-wrapper-4 {
    position: absolute;
    height: 25px;
    top: 165px;
    left: 1140px;
    font-family: var(--normal-font-font-family);
    font-weight: var(--normal-font-font-weight);
    color: #ffffff;
    font-size: var(--normal-font-font-size);
    letter-spacing: var(--normal-font-letter-spacing);
    line-height: var(--normal-font-line-height);
    font-style: var(--normal-font-font-style);
    transition-duration: 0.3s;
    transition-property: color;
}

.terms-of-use .text-wrapper-4:hover {
    color: #0076ffff;
} 

.terms-of-use .text-wrapper-5 {
    position: absolute;
    height: 25px;
    top: 125px;
    left: 1140px;
    font-family: var(--normal-font-font-family);
    font-weight: var(--normal-font-font-weight);
    color: #ffffff;
    font-size: var(--normal-font-font-size);
    letter-spacing: var(--normal-font-letter-spacing);
    line-height: var(--normal-font-line-height);
    font-style: var(--normal-font-font-style);
}

.terms-of-use .glowing-neon-line {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 122px;
    left: 1046px;
    object-fit: cover;
}
